@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

body {

  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

button {
  width: 40px;
  padding: 5px;
  margin: 4px 2px 0px 2px;
  background-color: #fcae38;
  border: 1px solid #666;
  border-radius: 4px;

}

section {
  width: 500px;
  padding: 10px 20px 30px 20px;
  margin: 0 auto;
  background-color: #c76363;
  border: 1px solid black;
  border-radius: 10px;
}

textarea {
  background-color: #dbdbdb;
  padding: 5px;
  color: #000;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
}

#space {
  width: 305px;
  height: 30px;
}
